html
{
    box-sizing: border-box;
}
*, *::before, *::after
{
    box-sizing: inherit;
}
img
{
    display: block;
    max-width: 100%;
}
h1,h2,h3,h4,p
{
    padding: 0;
    margin: 0;
}
body
{
    font-family: "Roboto", sans-serif;
    margin: 0;
}
:root
{
    --white-color: #FFFFFF;
    --green-color: #007765;
    --gray-color: #EEEEEE;
    --footer-color: #333333;
}
h1
{
    font-weight: 500;
    font-style: normal;
    color: var(--white-color);
    font-size: 72px;
}
h2
{
    font-size: 64px;
    font-weight: 500;
    font-style: normal;
    color: var(--green-color);
    text-align: center;
    padding-top: 48px;
    margin-bottom: 16px;
}
h3
{
    padding-top: 12px;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: var(--green-color);
}
h4
{
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    color: black;
}
.header 
{
    background-color: var(--green-color);
    padding-top: 18px;
    padding-bottom: 18px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.container
{
    max-width: 1110px;
    margin: 0 auto;
}
.header-flex 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo 
{
}
.header-flex-right 
{
    display: flex;
}
.menu_item 
{
    font-style: normal;
    font-weight: 500;
    color: var(--white-color);
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}
.menu_line 
{
    display: block;
    width: 2px;
    height: 20px;
    background-color: white;
    align-self: center;
    margin: 0 11px;
}
.jumbotron 
{
    background-image: url(../img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 483px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
}
.problem 
{
    background-color: var(--gray-color);
}
.problem-p 
{
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    color: black;
    padding-bottom: 35px;
}
.problem-bold 
{
    font-weight: 700;
}
.problem-p:last-child
{
    padding-bottom: 92px;
}
.hero 
{
    background-image: url(../img/hero.jpg);
    min-height: 483px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-p 
{
    color: var(--white-color);
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    padding-left: 113px;
    padding-right: 113px;
}
.ppc 
{

}
.ppc-logo 
{
    float: left;
    margin-right: 48px;
}
.ppc-italic
{
    font-style: italic;
}
.team 
{
    background-color: var(--gray-color);
    padding-bottom: 122px;
}
.team-grid 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    column-gap: 30px;
    row-gap: 82px;
    padding-top: 21px;
    margin-top: 32px;
}
.team-grid-item 
{
    text-align: center;
    margin: 0 auto;
}
.avatar 
{
    margin: 0 auto;
}
.footer 
{
    background-color: var(--footer-color);
    padding-top: 48px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-p 
{
    font-weight: 400;
    font-style: normal;
    color: var(--white-color);
    font-size: 18px;
    text-align: center;
    padding-left: 285px;
    padding-right: 285px;
}
@media screen and (max-width: 1150px) 
{
    .header-flex, .foot-p, .hero-p, .problem-p
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .team-grid 
    {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-left: 15px;
        padding-right: 15px;
    }
    h1
    {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 50px;
        text-align: center;
    }
    .menu_item
    {
        font-size: 16px;
    }
    h2
    {
        font-size: 40px;
    }
    .problem-p, .hero-p 
    {
        font-size: 24px;
    }
}
@media screen and (max-width: 555px) 
{
    .logo
    {
        display: none;
    }
    .team-grid
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .ppc-logo
    {
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 280px) 
{
    .menu_item
    {
        font-size: 10px;
    }
}