.menu
{
    max-width: 700px;
    margin: 150px auto;
}
.menu__group-buttons
{
    height: 100%;
    margin: 0 auto;
}
.menu__group-buttons__button
{
    height: 60px;
    margin: 30px 0;
}
a, a:active, a:hover
{
    text-decoration: none;
}
.menu-settins__form
{
    width: 450px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
}
.body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.menu-settins__form__group
{
    margin-bottom: 15px;
}
.menu-settins__form__input
{
    width: 180px;
    margin: 0 5px;
}
.menu-settins__form__group-input
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.choose-food__form, .worker-list__form
{
    max-width: 1000px;
    margin: 0 auto;
}
.choose-food__form__h3
{
    text-align: center;
    padding: 30px 0;
}
.choose-food__form__details:first-child
{

}
.choose-food__form__summary
{
    font-size: 22px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 10px;
}
.choose-food__form__textarea-dish
{
    width: 70%;
    height: 400px;
}
.choose-food__form__textarea-price
{
    width: 20%;
    height: 400px;
}
.form-group
{
    display: flex;
    justify-content: space-between;
}
.choose-food__form__button
{
   display: flex;
   justify-content: space-evenly;
}
.menu-settins__form__last-day
{
    display: flex;
    flex-direction: column;
}
.nav 
{
    display: flex;
    justify-content: center;
}
.li 
{
    list-style-type: none;
    padding-left: 3px;
}
.nav__link
{
    width: 250px;
}
.worker-list__form 
{
    padding-top: 30px;
}